<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Polling System</title>
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Who is the Prime Minister of India?.</h1>
            <div class="options">
                <ul>
                    <li>
                        <input type="radio" name="answer" id="answer1" />
                        <label for="answer1">Manmohan singh</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="answer2" />
                        <label for="answer2">Prathiba Patel</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="answer3" />
                        <label for="answer3">Narendra Modi</label>
                    </li>
                    <li>
                        <input type="radio" name="answer" id="answer4" />
                        <label for="answer4">Sardar Vallabai Patel</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <script src="/js/app.js"></script>
</body>

</html>